.category{
	        height: fit-content;
    width: 94%;
    background: #e9e6e6;
    margin: 24px 24px 24px 24px;
    border-radius: 30px;
}

.category .item5{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
}

.item1 { grid-area : a; }
.item2 { grid-area : b; }
.item3 { grid-area : c; }
.item5 { grid-area : d; }

.grid_container{
	display: grid;
    grid-template-areas: 'a b b' 'c c d';
    grid-template-columns: repeat(3,minmax(0,1fr));
    padding: 28px;
    gap: 9px;
}



.category img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}